.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #19362d;
}

.fadeScroll {
  position: relative;
}

.fadeScroll::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 20px;
  pointer-events: none;
  z-index: 1;
  background-image: linear-gradient(to bottom, #19362d, transparent);
}

.fadeScroll::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  pointer-events: none;
  background-image: linear-gradient(to top, #19362d, transparent);
}

.fadeScroll1 {
  position: relative;
}

.fadeScroll1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 20px;
  pointer-events: none;
  z-index: 1;
  background-image: linear-gradient(to bottom, #231e51, transparent);
}

.fadeScroll1::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  pointer-events: none;
  background-image: linear-gradient(to top, #231e51, transparent);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
